<body>
<div class="text-element-comic">
  <div>welcome to the worst book manager ever.</div>
  <div>featuring PHP from the hit 1995 series! WOWZERS!</div>
  <div>please input your username and password >///<</div>
  <div>(special tokens are required for admin authentification *wink*)</div>
</div>
<form (ngSubmit)="login()" class="text-element-comic">
    <label>Username</label>
    <input type="text" [(ngModel)]="username" name="username" required>

    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" required>

    <button type="submit">ENTER THE MAINFRAME >:D</button>
</form>
</body>

<!--<body>-->
<!--<form id="login-form" action="login.php" method="post">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td class="text-element-comic">USERNAME:</td>-->
<!--      <td><input type="text" id="username" name="username"/></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td class="text-element-comic">PASSWORD:</td>-->
<!--      <td><input type="password" id="password" name="password"/></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--  <input type="submit" value="ENTER THE MAINFRAME :P">-->
<!--</form>-->

<!--<script src="login.js"></script>-->
<!--</body>-->
